<ion-content [fullscreen]="true">
  <ion-list class="list">
    <ion-item class="item" *ngFor="let pet of pets">
      <ion-card>
        <div class="card-content">
          <img [src]="pet.photoUrl" alt="{{ pet.name }} Photo">
          <div class="card-details">
            <ion-card-header>
              <ion-card-title>{{ pet.name }}</ion-card-title>
              <ion-card-subtitle>{{ getStatusLabel(pet.status) }} le {{ pet.date }} à {{ pet.location
                }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>