<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/images/petlocatorlogo.png" alt="logo">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>Les dernières publications</h1>
  <p>Pour voir les publications proche de chez vous, activez la localisation</p>
  <ion-button (click)="activateLocation()">Activer la localisation</ion-button>


  <ion-list class="list">
    <ion-item class="item" *ngFor="let pet of pets">
      <ion-card>
        <div class="card-content">
          <img [src]="pet.photoUrl" alt="{{ pet.name }} Photo">
          <div class="card-details">
            <ion-card-header>
              <ion-card-title>{{ pet.name }}</ion-card-title>
              <ion-card-subtitle>{{ getStatusLabel(pet.status) }} le {{ formatDateString(pet.date)
                }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>