<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/images/petlocatorlogo.png" alt="logo">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1 class="title">Les dernières publications</h1>
  <ion-list class="list">
    <ion-item class="item" *ngFor="let pet of pets">
      <ion-card>
        <div class="card-content">
          <img [src]="pet.photoUrl || '../../assets/images/Default.svg'" alt="{{ pet.name }} Photo">
          <div class="card-details">
            <ion-card-header>
              <ion-card-title>{{ pet.name }}</ion-card-title>
              <ion-card-subtitle>
                {{ pet.status !== 'safe' ? getStatusLabel(pet.status) + ' le ' + petsService.formatDateString(pet.date)
                : getStatusLabel(pet.status) }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="padding: 0 0 10px 16px">
              <div class="btn-navigate">
                <ion-icon color="success" name="map-outline"></ion-icon>
                <ion-button fill="clear" color="dark" (click)="showOnMap(pet)">Afficher sur la carte</ion-button>
              </div>
              <div class="btn-navigate">
                <ion-icon color="warning" name="newspaper-outline"></ion-icon>
                <ion-button fill="clear" color="dark" (click)="showPetDetails(pet)">Voir la fiche</ion-button>
              </div>
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>